@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FFFDF9;
  color: #1a202c;
}

section {
  scroll-margin-top: 100px; /* Adjust for navbar height */
}
